@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Biurze Rzeczy Znalezionych</h1>
    <p>Skorzystaj z interesującej cię funkcji z górnego panelu aplikacji</p>
</div>
